<h1>Sell Your Soul For Money!</h1>
<p>With this simple web application, you can get in direct contact with Satan. At the end of this transaction, you will be able to receive money in exchange for eternal doom. Whoo!</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
