<h1>You Could Be Cool Again!</h1>
<p>Have you ever wondered why you had no life? Well, it's probably because you sit around tinkering with graphics and web code all day long! How would you like to get your real life back? Take the leap...</p>
<%= link_to "Sign up now!", '#', :class => "signup_button" %>
