<footer> 
	<nav>
		<ul> 
			<li><%= link_to "about", about_path %></li> 
			<li><%= link_to "contact", contact_path %></li> 
			<li><a href="http://jenius.me/">jeniusdesign</a></li> 
			<li><a href="http://blog.jenius.me/">blog</a></li>
		</ul> 
	</nav>
</footer>